<div class="panel panel-default">
    <div class="panel panel-heading">
        <h1>Overzicht lid</h1>
		<span><a (click)="goBackToAdmin()">Terug naar Admin</a></span>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Voornaam: </label>
                <span style="margin-left:3px;"> {{model.kind.persoon.voornaam}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Naam: </label>
                <span style="margin-left:3px;"> {{model.kind.persoon.naam}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Geboortedatum: </label>
                <span style="margin-left:3px;"> {{model.kind.geboortedatum | date}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Mag alleen naar huis?</label>
                <span style="margin-left:3px;color:green" [hidden]='!model.kind.zelfNaarHuis'> Ja </span>
                <span style="margin-left:3px;color:red" [hidden]='model.kind.zelfNaarHuis'> Nee </span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Broers / Zussen: </label>
                <span style="margin-left:3px;">{{model.kind.broersZussen}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Afhaalpersoon: </label>
                <span style="margin-left:3px;">{{model.kind.afhaalPersoon}}</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <label class="label label-default">Adres: </label>
                <span style="margin-left:3px;">{{model.ouders.adres.straat}} {{model.ouders.adres.huisnummer}} {{model.ouders.adres.bus}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Postcode: </label>
                <span style="margin-left:3px;">{{model.ouders.adres.postcode}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Gemeente: </label>
                <span style="margin-left:3px;">{{model.ouders.adres.gemeente}}</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Ouder/Voogd: </label>
                <span style="margin-left:3px;">{{model.ouders.ouder1.voornaam}} {{model.ouders.ouder1.naam}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Ouder/Voogd: </label>
                <span style="margin-left:3px;">{{model.ouders.ouder2.voornaam}} {{model.ouders.ouder2.naam}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Email: </label>
                <span style="margin-left:3px;">{{model.ouders.email1}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Email(backup): </label>
                <span style="margin-left:3px;">{{model.ouders.email2}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Telefoon: </label>
                <span style="margin-left:3px;">{{model.ouders.telefoon1}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Telefoon(backup): </label>
                <span style="margin-left:3px;">{{model.ouders.telefoon2}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Noodnummer </label>
                <span style="margin-left:3px;color:red;">{{model.ouders.noodtelefoon}}</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Huisarts: </label>
                <span style="margin-left:3px;">{{model.medisch.huisArtsNaam}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Telefoon: </label>
                <span style="margin-left:3px;">{{model.medisch.huisArtsTelefoon}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label class="label label-default">Ziektes / model.medische ingrepen: </label>
                <span style="margin-left:3px;">{{model.medisch.ziekteIngreep}}</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Gevaccineerd volgens model.kind en Gezin: </label>
                <span [hidden]="!model.medisch.vaccinatieKindEnGezin" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.vaccinatieKindEnGezin" class="angular-bool-no">Nee</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Suikerziekte: </label>
                <span [hidden]="!model.medisch.suikerziekte" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.suikerziekte" class="angular-bool-no">Nee</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Astma: </label>
                <span [hidden]="!model.medisch.astma" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.astma" class="angular-bool-no">Nee</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Hartkwaal: </label>
                <span [hidden]="!model.medisch.hartkwaal" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.hartkwaal" class="angular-bool-no">Nee</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Huidaandoening: </label>
                <span [hidden]="!model.medisch.huidaandoening" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.huidaandoening" class="angular-bool-no">Nee</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Epilepsie: </label>
                <span [hidden]="!model.medisch.epilepsie" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.epilepsie" class="angular-bool-no">Nee</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <label class="label label-default">Allergieën:</label>
                <span style="margin-left:3px;">{{model.medisch.allergieen}}</span>
            </div>
            <div class="col-sm-6">
                <label class="label label-default">Andere aandoeningen:</label>
                <span style="margin-left:3px;">{{model.medisch.andereAandoeningen}}</span>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="label label-default">Opmerkingen aanpakken model.kind:</label>
                <span style="margin-left:3px;">{{model.medisch.aanpakKind}}</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Kan zwemmen: </label>
                <span [hidden]="!model.medisch.kanZwemmen" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.kanZwemmen" class="angular-bool-no">Nee</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Kan sporten: </label>
                <span [hidden]="!model.medisch.kanSporten" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.kanSporten" class="angular-bool-no">Nee</span>
            </div>
        </div>
        <div class="row" [hidden]="model.medisch.kanSporten">
            <div class="col-sm-12">
                <label class="label label-default">Belemmeringen bij het sporten:  </label>
                <span style="margin-left:3px;">{{model.medisch.belemmeringenSport}}</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <label class="label label-default">Neemt medicatie: </label>
                <span [hidden]="!model.medisch.geneesmiddelen" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.geneesmiddelen" class="angular-bool-no">Nee</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Mag pijnstillers krijgen: </label>
                <span [hidden]="!model.medisch.pijnstillersAllowed" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.pijnstillersAllowed" class="angular-bool-no">Nee</span>
            </div>
            <div class="col-sm-3">
                <label class="label label-default">Fotos nemen mag: </label>
                <span [hidden]="!model.medisch.fotosAllowed" class="angular-bool-yes">Ja</span>
                <span [hidden]="model.medisch.fotosAllowed" class="angular-bool-no">Nee</span>
            </div>
        </div>
        <div class="row" [hidden]="!geneesmiddelen">
            <div class="col-sm-12">
                <label class="label label-default">Medicatie:  </label>
                <span style="margin-left:3px;">{{model.medisch.geneesmiddelenLijst}}</span>
            </div>
        </div>
    </div>
</div>