<div class="container" [hidden]="loggedIn">
    <h1>Log in:</h1>
    <div [hidden]="!hasErrors">
        <label class="label-danger">{{errors}}</label>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="login()" type="button">Inloggen</button>
                </span>
                <input [(ngModel)]="password" type="password" class="form-control" placeholder="Paswoord" />
            </div>
        </div>
    </div>
</div>

<div class="container" [hidden]="!loggedIn">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h1>Admin Paneel</h1>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Afdrukken lijsten</h4>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary" (click)="afdrukkenKleuters()"><i class="fa fa-file-pdf-o"></i> Kleuters</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" (click)="afdrukkenJongsten()"><i class="fa fa-file-pdf-o"></i> Jongsten</button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary" (click)="afdrukkenMidden()"><i class="fa fa-file-pdf-o"></i> Midden</button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary" (click)="afdrukkenOudsten()"><i class="fa fa-file-pdf-o"></i> Oudsten</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Zoek kinderen</h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input [(ngModel)]="zoekenOpVoornaam" type="checkbox" aria-label="..." />
                            </span>
                            <input type="text" class="form-control" disabled placeholder="Zoek op voornaam" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button (click)="zoekKind()" class="btn btn-default" type="button">Zoek</button>
                            </span>
                            <input type="text" [(ngModel)]="zoekNaam" class="form-control" placeholder="Zoek voornaam kind">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" [hidden]="!hasSearched">
            <div class="panel panel-heading">
                <h1>Zoekresultaten</h1>
            </div>
            <div class="panel panel-body">
                <ul>
                    <li *ngFor="let model of searchList">
                        <a class="link-active" (click)="displayChild(model.id)">{{model.voornaam}} {{model.naam}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
